@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.padding-x {
  @apply sm:px-8 px-4;
}

.padding-y {
  @apply sm:py-24 py-12;
}

.wrapper {
  @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
}
